header {
  background-color: #afb281; }

header > div {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: baseline; }

.karfa {
  position: absolute;
  right: 10px;
  align-self: center; }

section > div {
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1; }

a {
  text-decoration: none;
  color: black; }

footer {
  background-color: #cc9694;
  position: relative;
  bottom: 0;
  width: 100%; }

footer > div {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 120px; }

footer div div {
  padding: 20px; }

footer li:first-child {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px; }

footer p {
  text-align: center;
  padding-top: 10px; }

ul {
  list-style: none; }

img {
  max-width: 300px; }

h1 {
  font-size: 60px;
  text-align: center;
  padding: 10px; }

h2 {
  padding: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; }

h3 {
  padding: 5px; }
