@import "scss/config";
.containerKarfa {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.KarfaSida {
  display: flex;
  flex-direction: column;
  margin: $gutter;
}

.KarfaSida img {
    max-width: 300px;
}

.karfa--menu {
  display: flex;
  flex-wrap: wrap;
}

.karfa--menu > div {
  padding: 10px;
}

.karfa-text-1{
  padding: 10px;
}

.fjöldi--takkar {
  display: flex;
  flex-wrap: wrap;
  max-width: 20px;
}

.karfa--menu--texti {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 70%;
  min-width: 60%;
}

.Upplysingar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:20px;
}

.Upplysingar div {
  padding: 10px;
}

#cart {
  max-width: 12px;
  position: relative;
  right: 5px;
}

.klara--takkar {
  display: flex;
}

.takkar {
  display: flex;
  min-width: 150px;
}

#uppfæra {
  display: flex;
  min-width: 125px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  left: 5px;
  background-color: white;
  border-bottom: solid 2px black;
}

#setjaKarfa {
  display: flex;
  min-width: 125px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10px;
  background-color: white;
  border-bottom: solid 2px black;
}

.Nafn {
  display: flex;
  justify-content: space-between;
}

.Heimilisfang {
  display: flex;
  justify-content: space-between;
}

.Postnumer {
  display: flex;
  justify-content: space-between;
}

.Kortanumer {
  display: flex;
  justify-content: space-between;
}

.Korthafi {
  display: flex;
  justify-content: space-between;
}

.Gildistimi {
  display: flex;
  justify-content: space-around;
}

#setjaKarfa:hover {
  background-color: #cc9694;
  transition: 0.3s;
}

#uppfæra:hover {
  background-color: #cc9694;
  transition: 0.3s;
}

.SendingarUpplysingar h2 {
  padding: 10px;

}

.GreiðsluUpplýsingar h2 {
  padding:10px;
}

#verdKarfa {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}
