@import "scss/config";
.KarfaSida {
  display: flex;
  flex-direction: column;
}
.karfa-text-1{
  margin-top: 2%;
  margin-left: 10%;
}
.KarfaSida--hlutir img{
  max-width: 386px;
  display: flex;
  flex-direction: column;
}
.KarfaSida--hlutir p {
  font-size: 14px;
  word-wrap: break-word;
}
.KarfaSida--hlutir {
  max-width: 400px;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 9.3%;
  max-height: 400px;
}
.KarfaSida--hlutir--texti{
  max-width: 50%;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.KarfaSida--hluti--texti--nedri{
  margin-top: 64%;
}
.karfaSida--hlutir--texti--nedri--botn{
  padding: 0px;
display: flex;
justify-content: space-between;
}
.karfaSida--hlutir--texti--nedri--botn button {
  width: 110px;
}
.Upplysingar{
  margin-top:3%;
}
.Upplysingar label {
  font-size: 14px;
  word-wrap: break-word;
}
.Upplysingar input {
  width: 30px;
  padding-right: 120px;
}
.KarfaSida--takki{
  margin: 3%;
  margin-left: 43.3%;
}
.KarfaSida--takki button:hover {
  color: #cc9694;
  background-color: black;
  transition: 0.3s;
}
.karfaSida--hlutir--texti--nedri--botn button:hover{
  background-color: #cc9694;
  transition: 0.3s;
}
/*.KarfaSida--hlutir--senda{
  max-width: 50%;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float:left;
}
/*.KarfaSida--hlutir--greida{
  max-width: 50%;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*/
.Upplysingar {
  display: flex;
  justify-content: center;
}

h3 {
  padding-bottom: 20px;
}
