@import "scss/config";
header {
  background-color: #afb281;
}

.containerHaus {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.valmynd {
  max-width: 1200px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items:center;
    &__listi {
      margin-left: 39%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      @media (max-width: 599px) {
        flex-wrap: wrap;
      }
      & li {
        padding: 5px;
        text-transform: uppercase;
      }
  }
}

.valmynd__karfa {
  display: flex;
  flex-wrap: wrap;
  width: 64%;
  justify-content: flex-end;
  align-items: center;
  & li {
    text-transform: none;
    min-width: 100px;
    align-self: flex-end;
  }
}

.cart {
  max-width: 20px;
}

.valmynd__karfa a {
  display: flex;
  align-items: center;
}

#cartHaus {
  position: relative;
  right: 5px;
}
