@import "scss/config";
header {
  background-color: #afb281;
}

header h1 {
  padding: 10px;
}
.containerHaus {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.valmynd {
  max-width: 1200px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
    &__listi {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin-left: 25%;
      width: 50%;
      @media (max-width: 599px) {
        flex-wrap: wrap;
        margin-left: 0%;
        width: 100%;
        justify-content: center;
        align-items: center;
        list-style: none;

      }
      & li {
        padding: 5px;
        text-transform: uppercase;
      }
  }
}

.valmynd--karfa {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
  width: 25%;
  & li {
    text-transform: none;
    min-width: 100px;
    align-self: flex-end;
  }
  @media (max-width: 599px){
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;

  }
}

.cart {
  max-width: 20px;
}

.valmynd--karfa a {
  display: flex;
  flex-flow: row;
  min-width: 100px;
  align-items: center;
}

#cartHaus {
  position: relative;
  right: 5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.valmynd a {
    color: black;
}

.valmynd a:hover {
  color: #cee8ff;
  transition: 0.3s;
}
