@import "scss/config";
header {
  background-color: #afb281;
}

.valmynd {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items:center;
    &__listi {
      margin-left: 36%;
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      @media (max-width: 599px) {
        flex-wrap: wrap;
      }
      & li {
        padding: 5px;
        text-transform: uppercase;
      }
  }
}

.valmynd__karfa {
  display: flex;
  flex-wrap: wrap;
  width: 56%;
  justify-content: flex-end;
  align-items: center;
  & li {
    text-transform: none;
  }
}

.cart {
  max-width: 20px;
}

h1 {
  text-align: center;
}
