@import "scss/config";
img {
  max-width: 100%;
}

.containerForsida {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}

.forsida--menu {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  }

.forsida--menu div {
  position: relative;
  width: 50%;
  padding: 1%;
  @media (max-width: 500px) {
    width: 100%;
  }
}

.forsida div:nth-child(2) {
  flex-direction: row-reverse;
}
.forsida__botton {
  background-color: #cc9694;
  border: none;
  padding: 10px 5px;
  width: 200px;
}

.forsida--texti div {
  padding: 10px 0px;
  width: 100%;
}

.forsida button:hover {
  color: #cc9694;
  background-color: black;
  transition: 0.3s;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
}

li {
    font-family: "Open Sans", Arial, sans-serif;
}

h1 {
  font-family: "Oswald", Verdana, serif;
}

h2 {
  font-family: "Oswald", Verdana, serif;
}

h3 {
  font-family: "Oswald", Verdana, serif;
}
