@import "scss/config";



.Vörur--hlutir img{
  max-width: 386px;
}

.Vörur {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  margin: 10px;
  padding-left: 130px;
}

.Vörur--hlutir p {
  font-size: 14px;
  word-wrap: break-word;
}

.Vörur--hlutir {
  max-width: 400px;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fjöldi {
  max-width: 40px;
}

#cart {
  max-width: 20px;
}
