@import "scss/config";

.row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 120px;
  padding-right: 120px;
}

.myndir-starfsfolk img {
  max-width: 100%;
}

.row div {
  padding: 10px;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .myndir-starfsfolk img {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .myndir-starfsfolk img {
    max-width: 100%;
  }
}
.myndir-starfsfolk img {
  padding-bottom: 20px;
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-box2 {
  background-color: tra
}
