

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
}

@import "scss/config";
@import "scss/haus";
@import "scss/fotur";
@import "scss/index";
@import "scss/staff";
// TODO sækja allar sass skrár
